---
layout: base.njk
title: Jonathan Grice - Osteopath & Low Level Laser Therapist
description: "Jonathan Grice is an osteopath at Meridian Osteopathy Christchurch, with a decade of NHS and private practice and a specialism in low-level laser therapy."
---

{% set member = team.jonathan %}
{% include "team-profile.njk" %}

{% include "back-to-top.njk" %}
