---
layout: base.njk
title: Maddison Moffat - Osteopath
description: "Meet Maddison Moffat, Osteopath at Meridian Osteopathy, Christchurch."
---

{% set member = team.maddison %}
{% include "team-profile.njk" %}

{% include "back-to-top.njk" %}
