---
layout: base.njk
title: Na (Nina) Hu - Osteopath & Medical Acupuncture
description: "Nina Hu is an osteopath and medical acupuncture practitioner at Meridian Osteopathy Christchurch, specialising in women's health and paediatric care."
---

{% set member = team.nina %}
{% include "team-profile.njk" %}

{% include "back-to-top.njk" %}
